body {
  margin: 2rem;
}

header {
  background-color: rebeccapurple;
  color: white;
  font-size: 2rem;
  padding: 2rem;
  border-radius: 1rem;
}

form {
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;

  label {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  input {
    padding: 0.5rem;
    width: 85%;
  }

  button {
    margin: 1rem;
    padding: 1rem;
    background-color: rebeccapurple;
    color: white;
    flex: 0;
    font-weight: bolder;
    font-size: 1rem;
  }
}

section {
  margin: 4rem;
}

article {
  display: flex;
  list-style: none;
  border: 1px lightgrey solid;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 1rem;
  padding: 1rem;

  img {
    height: 5rem;
    margin-right: 1rem;
  }

  .right-element {
    margin-right: 1rem;
  }
}

nav {
  display: flex;
  flex-direction: row-reverse;
  padding: 0.5rem;
  align-items: center;

  button {
    margin: 0 0.25rem;
  }
}

.car-detail-container {
  border: 1px solid rebeccapurple;
  border-radius: 2rem;
  padding: 2rem;
  background-color: lavender;
}

.car-detail {
  display: flex;
  font-size: larger;
  img {
    margin-right: 2rem;
  }
}

.cart-item {
  display: flex;
  justify-content: space-between;
  border: 2px solid mediumpurple;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 0;

  img {
    height: 10rem;
  }
}