body {
  margin: 2rem;
}
header {
  background-color: darkcyan;
  color: white;
  font-size: 2rem;
  padding: 2rem;
  margin-bottom: 1rem;
}
form {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
}
form label {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form button {
  margin: 1rem;
  padding: 1rem;
  background-color: darkcyan;
  color: white;
  flex: 0;
}
li {
  list-style: none;
  padding: 1rem;
  border: 1px lightgrey solid;
  margin-top: 0.25rem;
}
